.profile {
  background: white;
  border-radius: 6px;
  width: 100%;
  display: inline-block;
}

.profile_name {
  line-height: 18px;
  padding: 20px;
}

.profile_name .name {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
}
.profile_name .title {
  font-size: 13px;
  font-weight: #777;
}

.profile_image {
  margin-top: -10px;
  -webkit-clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
  clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
}

.profile_image .img {
  width: 100%;
}

.profile_information {
  top: 0;
  left: 0;
  margin: -44px 16px 30px;
}

.profile_information .timeline .timeline_content {
  margin-bottom: 12px;
}

.timelineItem_text2 {
  font-size: 13.5px !important;
  color: #787878 !important;
  font-weight: 400 !important;
  text-decoration: none;
}

.timelineItem_text2 > a {
  text-decoration: none;
}
.timelineItem_text2 > span {
  color: black;
}

.profile .button_container {
  width: 100%;
  display: flex !important;
  justify-content: center;
  margin-top: 10px;
}

.profile_edit {
  width: 100%;
  height: 293px !important;
  background-size: cover;
  background-position: center;
}
