.timeline {
  padding: 0 !important;
}

.timeline .timeline_header {
  padding-top: 7px;
}

.timeline .timeline_firstItem {
  min-height: 80px !important;
}

.timeline .MuiTimelineItem-missingOppositeContent:before {
  display: none;
}
